<!-- <div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <div class="formGroup">
            <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div> -->
        <!-- Calling ForgotPassword from AuthService Api -->
        <!-- <div class="formGroup">
            <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
    </div>
        <div class="redirectToLogin">
            <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="password" fxLayoutAlign="center center">
        <img class="logo"src="../assets/envolti.png" alt="envolti">
        <h1 class="forgot-password">Esqueceu a senha?</h1>
        <h3 class="subtitle">Informe seu e-mail para que possamos recuperar pra você!</h3>
        <br>
        <br>
        <p class="email"><b>Endereço de E-mail:</b></p>
        <input class="input-email" type="email" placeholder="Seu endereço de e-mail" #passwordResetEmail required>
        <br>
        <br>
        <button class="reset-password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Restaurar senha</button>
        <br>
        <br>
        <mat-icon class="home" aria-hidden="false" aria-label="Example home icon" routerLink="/sign-in" style="cursor: pointer;" fontIcon="home"></mat-icon>
    </div>
    <div class="image-responsive">
        <img class="img-forgot-password"src="../assets/rockeatman-confuse.jpg" alt="">
    </div>
</div>

