*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.password{
    display: block;
    width: 50%;
    height: 100vh;
    border-radius: 10px;
    float: left;
    text-align: center;
    overflow: hidden;
}

.image-responsive{
    width: 50%;
    float: left;
    overflow: hidden;
}

.img-forgot-password{
    width: 100%;
    height: 100vh;
    border-radius: 20%;
}

.logo{
    width: 100px;
    height: 100px;
}

.forgot-password{
    font-size: 50px;
    color: #4d4d4d;
}

.subtitle{
    font-size: 20px;
    color: #4d4d4d;
}

.input-email{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border-style: solid;
}

::placeholder{
    padding: 10px;
}

.reset-password{
    text-align: center;
    width: 35%;
    height: 30px;
    border-radius: 7px;
    background-color: #C5C4FE;
    font-size: 17px;
    cursor: pointer;
    border-style: solid;
    border-color: #4d4d4d;
}

.home{
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: #C5C4FE;
    border-radius: 50%;
}