<!-- <div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign Up</h3>
            <div class="formGroup">
                <input
                    type="email"
                    class="formControl"
                    placeholder="Email Address"
                    #userEmail
                    required/>
            </div>
            <div class="formGroup">
                <input
                type="password"
                class="formControl"
                placeholder="Password"
                #userPwd
                required/>
            </div>
            <div class="formGroup">
                <input
                type="button"
                class="btn btnPrimary"
                value="Sign Up"
                (click)="authService.SignUp(userEmail.value, userPwd.value)"
                />
            </div>
            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div>
            <div class="formGroup">
                <button
                type="button"
                class="btn googleBtn"
                (click)="authService.GoogleAuth()"
                >
                <i class="fab fa-google-plus-g"></i>
                Continue with Google
                </button>
            </div>
            </div>
            <div class="redirectToLogin">
            <span>Already have an account?
                <span class="redirect" routerLink="/sign-in">Log In</span>
            </span>
            </div>
    </div>
</div> -->

<div class="container">
    <div class="image-responsive">
        <img class="img-login"src="../assets/signup.jpg" alt="">
    </div>
    <div class="signup">
        <div class="header">
            <h1>Sign <span class="up">Up</span></h1>
            <p class="already-accont">Já tem uma conta? <span class="redirect" routerLink="/sign-in">Log in</span></p>
        </div>
        <br>
        <div class="adress">
            <p class="name"><b>Nome:</b></p>
            <input class="input-name" type="text" placeholder="Seu nome" #userName required>
            <br>
            <br>
            <p class="email"><b>Endereço de e-mail:</b></p>
            <input class="input-email" type="email" placeholder="exemplo@gmail.com" #userName required>
            <br>
            <br>
            <p class="password"><b>Senha:</b></p>
            <input class="input-password" type="password" placeholder="Sua Senha" #userName required>
            <br>
            <br>
            <div class="politic">
                <mat-slide-toggle color="primary" >Eu concordo com os <span class="up">Termos de Uso</span> e serviço e <span class="up">Políticas de Privacidade</span> </mat-slide-toggle>
                <p class="risk">----------------------------------</p><p> OU </p><p class="risk">----------------------------------</p>
                <br>
                <button type="button" class="login-with-google" (click)="authService.GoogleAuth()">Login com o Google</button>
                <br>
                <a href="#" class="button">Cadastrar conta</a>
            </div>
        </div>
    </div>
</div>